.container{
    max-width: 600px;
    margin: auto;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    font-size: 20px;

}
.containerInput{
    margin: 15px 0;
    font-size: 20px;
    border: none;
    padding: 5px;
    border-radius: 30px;
}
.resultado{
    width: 100%;
    margin: 10px 0;
    background-color: #000;
    color: red;
    padding: 10px 0;
    font-size: 25px;
}
input{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
#unidade2{
    color: red;
}